.container_map{
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 12px;
}

.footer {
    margin-block-end: 0;
}

.linkAPI {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}